.MyInfoMainWrap {
  margin: 0 20%;
  height: 100vh;
}
.MyInfoMainSidebarContainer {
  width: 180px;
  box-sizing: border-box;
  float: left;
  height: 89%;
}
.MyInfoMainMajorWrap {
  width: 78%;
  box-sizing: border-box;
  height: 89%;
  float: right;
}
