/*********************************//*********************************//*********************************//*********************************/
/* ProductCard.js */

.productCard {
    display: flex;
    margin: 0 10px;
    width: 260px;
    height: 330px;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(224, 224, 224);
  }
  
  .productCard-img {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }
  
  .productCard-img img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 1px solid #000;
  }
  
  .productCard-name, .productCard-price {
    padding-left: 40px;
    margin-bottom: 5px;
    height: 30px;
  }
  
  .productCard-name > a {
    text-decoration : none;
  }

  .productCard-name > a > h4 {
    margin: 0;
    line-height: 30px;
    color: black;
  }

  .productCard-name > a > h4:hover {
    font-size: 18px;
    color: #0f297e;
  }
  
  .productCard-price > h5 {
    margin: 0;
    line-height: 30px;
  }

  .productCard-button {
    display: flex;
    justify-content: space-around;
  }
  
  .productCard-button > a {
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: #000;
    text-decoration-line: none;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 0 8px rgb(200, 200, 200);
    background-color: rgb(248, 248, 248);
  }

  .productCard-button > button {
    font-size: small;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 0 8px rgb(200, 200, 200);
    background-color: rgb(248, 248, 248);
    cursor: pointer;
  }